.board {
  display: flex;
  justify-content: center;
  width: 100vw;
}

.board__container {
  display: inline-flex;
  flex-wrap: nowrap;
  gap: 20px;
  justify-content: flex-start;
}

.board__scrollable-container {
  overflow-x: auto;
  overflow-y: hidden;
}

.board__scrollable-container::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 7px;
}

.board__scrollable-container::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0, 0, 0, .5);
  -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, .5);
}

.card {
  transition: height 0.5s ease-in-out;
  will-change: height;
}

.card-text {
  min-width: 236px;
  min-height: 350px;
}

h4 {
  display: flex;
  justify-content: center;
}

ul {
  padding-left: 0px;
}

.li-content {
  height: 25px;
}
